/* reset template */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
    --stndSpacing: 1em;
    --largeSpacing: 2em;
    --borderRadius: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: normal;
}

p {
    text-wrap: pretty; 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-weight: 500;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

button,
input,
form {
    font: inherit;
}

/* header and nav*/
.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
}

.navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLogo img {
    padding-top: .5em;
}

.globalNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--largeSpacing);
    margin-left: 4em;
}

.globalNav li {
    list-style-type: none;
}

.loginBtn,
.registerBtn,
.learnBtn {
    border: 2px solid black;
    padding: 0.7em 1em;
    border-radius: var(--borderRadius);
    background-color: var(--white);
    transition: .3s ease-in-out;
    margin-right: 1rem;
}

.loginBtn:hover,
.registerBtn:hover,
.learnBtn:hover
 {
    font-weight: 700;
    border-radius: 45px;
    color: var(--white);
    background-color: black;
}

/* main styling */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    padding: var(--stndSpacing);
}

.remoteWork {
    grid-column: 1 / 2;
    max-width: 35vw;
    place-self: center;
}

.remoteWork h1 {
    font-weight: 700;
    font-size: 4.2rem;
    margin-bottom: 3rem;
}

.remoteWork p {
    color: var(--gray);
    margin-bottom: 3rem;
}

.logosContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--stndSpacing);
    margin-top: 6em;
}

.mainImg {
    grid-column: 2 / 3;
    max-width: 40vw;
    place-self: center;
}

.mainImg img {
    max-height: 70vh;
}

/* 
## Colors

### Neutral

- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
- Weights: 500, 700 */

